* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
} 
.header { 
    padding: 28px 50px; 
} 
 .nav {
    display: flex;
    align-items: center;
 }
.nav ul {
     list-style: none;
}
 .nav a { 
    text-decoration: none;
 }  
  #margin-left {
    margin-left: 50px;
  }
.left-style {   
    color: #040062; 
    font-size: 24px; 
    font-family: 'Poppins'; 
    font-weight: bold; 
}  
 .ul-between { 
    display: flex;           /* выстраиваем li в ряд внутри каждого ul */
    gap: 32px;   
 }
.between-style {  
    color: #040062; 
    font-size: 16px; 
    font-family: 'Ubuntu';
    }
    #margin-right{
      margin-right: 600px;  
    }
 .right-style { 
     font-family: 'Ubuntu'; 
     font-size: 16px; 
     color: white; 
     border: 2px solid #0013FF; 
     padding:3px 16px; 
     border-radius:999px;
     background-color: #0013FF;
     }