@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* start header */
.header {
  padding: 24px 0px;
}
.header__container {
  max-width: 1296px;
  width: calc(100% - 120px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__between {
  display: flex;
  gap: 20px;
}
.between__style {
  color: #040062;
  font-size: 16px;
  font-family: "Ubuntu";
}
.header__nabla {
  margin-right: 50px;
}
.nabla__style {
  color: #040062;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.header__btn {
  margin-left: auto;
}
.btn__style {
  font-family: "Ubuntu";
  font-size: 16px;
  color: white;
  border: 2px solid #0013ff;
  padding: 3px 16px;
  border-radius: 999px;
  background-color: #0013ff;
}
@media screen and (max-width: 800px) {
  .header {
    padding: 12px 0px;
  }
  .header__container {
    width: calc(100% - 80px);
    flex-direction: column;
  }
  .header__between {
    margin: 0 auto;
  }
  .header__nabla {
    margin: 0 auto;
  }
  .header__btn {
    margin: 0 auto;
  }
  .header__between {
    margin-bottom: 12px;
  }
}
/* end header */

/* start intro */
.intro {
  padding-bottom: 120px;
}
.intro__container {
  background-color: #c7e3e9;
  max-width: 1296px;
  width: calc(100% - 120px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px 0px 90px;
  position: relative;
}
.intro__container h1 {
  text-align: center;
}
.intro__text {
  color: #040062;
  font-family: "Abril Fatface";
}
.t1 {
  font-size: 60px;
  font-weight: 400;
}
.t2 {
  font-size: 80px;
  font-weight: 400;
}
.t3 {
  font-size: 110px;
  font-weight: 400;
}
.intro__img1,
.intro__img2 {
  position: absolute;
  bottom: 0;
}
.intro__img1 {
  left: 0;
}
.intro__img2 {
  right: 0;
}
@media screen and (max-width: 1000px) {
  .intro {
    padding-bottom: 100px;
  }
  .intro__container {
    width: calc(100% - 80px);
    padding: 80px 0px 90px;
  }
  .t1 {
    font-size: 40px;
    font-weight: 400;
  }
  .t2 {
    font-size: 60px;
    font-weight: 400;
  }
  .t3 {
    font-size: 90px;
    font-weight: 400;
  }

  .intro__img1 {
    width: 300px;
    height: 60%;
  }
  .intro__img2 {
    width: 300px;
    height: 60%;
  }
  .intro__img3 {
    width: 500px;
    height: 80%;
  }
}
@media screen and (max-width: 800px) {
  .intro {
    padding-bottom: 80px;
  }
  .intro__container {
    width: calc(100% - 60px);
    padding: 80px 0px 90px;
  }
  .t1 {
    font-size: 28px;
    font-weight: 400;
  }
  .t2 {
    font-size: 40px;
    font-weight: 400;
  }
  .t3 {
    font-size: 60px;
    font-weight: 400;
  }

  .intro__img1 {
    width: 200px;
    height: 60%;
  }
  .intro__img2 {
    width: 200px;
    height: 60%;
  }
  .intro__img3 {
    width: 300px;
    height: 60%;
  }
}

/* end intro */

/* start block-obj */
.block-obj {
  display: flex;
  max-width: 1296px;
  width: calc(100% - 120px);
  margin: 0 auto;
}
.block-obj__img {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 70px 0px;
  background-color: #fef1ef;
}
.img--modif {
  border-radius: 37px;
}
.block-obj__text {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 32px;
}
.block-obj__h1 {
  font-family: "Abril Fatface" cursive;
  color: #040062;
  font-size: 48px;
  padding-right: 60px;
}
.block-obj__p {
  line-height: 1.5;
  color: #6d758d;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  padding-right: 40px;
}
@media screen and (max-width: 1000px) {
  .block-obj__h1 {
    font-size: 40px;
    padding-right: 40px;
  }
  .block-obj__p {
    line-height: 1.3;
    color: #6d758d;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    padding-right: 28px;
  }
  .block-obj__text {
    gap: 20px;
  }
  .block-obj__img {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 800px) {
  .block-obj {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    width: calc(100% - 120px);
    padding-bottom: 50px;
  }
  .block-obj__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  .block-obj__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 24px;
  }
  .block-obj__h1 {
    font-size: 48px;
  }
  .block-obj__p {
    line-height: 1.4;
    color: #6d758d;
    font-size: 18px;
  }
}

/* end block-obj */
/* start block-reverse */
.block-reverse {
  display: flex;
  max-width: 1286px;
  width: calc(100% - 120px);
  margin: 0 auto;
}
.block-reverse__img {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 70px 0px;
  background-color: #c7e3e9;
}
.block-reverse__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 32px;
}
.block-obj__h1--reverse {
  font-family: "Abril Fatface" cursive;
  color: #040062;
  font-size: 48px;
  padding-right: 60px;
}
.block-obj__p--reverse {
  line-height: 1.5;
  color: #6d758d;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  padding-right: 88px;
}
@media screen and (max-width: 1000px) {
  .block-obj__h1--reverse {
    font-size: 40px;
    padding-right: 40px;
  }
  .block-obj__p--reverse {
    line-height: 1.3;
    color: #6d758d;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    padding-right: 28px;
  }
  .block-obj__text {
    gap: 20px;
  }
  .block-obj__img {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 800px) {
  .block-reverse  {
    flex-direction: column;
    gap: 60px;
    width: calc(100% - 120px);
    padding-bottom: 50px;
  }
  .block-reverse__text { 
    width: 100%; 
  }
 .block-reverse__img {
  margin: 0 auto;
  width: 80%;
 }
  .block-reverse__text {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 32px;
  margin: 0 auto;
}
.block-obj__h1--reverse {
  font-size: 48px; 
  padding-right: 80px;
}
.block-obj__p--reverse {
  line-height: 1.5; 
  font-size: 18px;  
  padding-right: 60px;
}
}

/*  end block-reverse */ 
 
/* start foot */
.foot {
  border-top: 1px solid #dce0e9;
  margin-top: 100px;
}
.foot__container {
  max-width: 1296px;
  width: calc(100% - 120px);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 100px;
}
.foot__nabla {
  margin-right: 180px;
}
.foot__navigation {
  display: flex;
  gap: 120px;
}
.foot-header--modif {
  margin-bottom: 18px;
}
.foot-header--style {
  font-family: "Ubuntu", sans-serif;
  color: #040062;
  font-size: 24px;
}
.foot__subheader--modif {
  margin-bottom: 14px;
}
.foot__subheader--style {
  font-family: "Ubuntu", sans-serif;
  color: #6d758d;
  font-size: 16px;
}
.foot__button {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: auto;
}
.foot__soc {
  display: flex;
  gap: 28px;
}
.foot__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.line {
  text-decoration: underline;
}
@media screen and (max-width: 1150px) {
 .foot__navigation {
  gap: 80px;
 }
 .foot__nabla {
  margin-right: 80px;
}
}
@media screen and (max-width: 1000px) {
 .foot__navigation {
  gap: 40px;
 } 

} 
/* emd foot */
