@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* header */
.header {
  padding: 20px 140px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__between {
  display: flex;
  gap: 32px;
  margin-left: 50px;
  list-style: none;
}
.header__btn {
  margin-left: auto;
  display: flex;
}
.nabla__style {
  color: #040062;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.header-between__style {
  color: #040062;
  font-size: 16px;
  font-family: "Ubuntu";
}
.btn__style {
  font-family: "Ubuntu";
  font-size: 16px;
  color: white;
  border: 2px solid #0013ff;
  padding: 3px 16px;
  border-radius: 999px;
  background-color: #0013ff;
}
@media screen and (max-width: 1340px) {
  .header {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 1290px) {
  .header {
    padding: 20px 80px;
  }
}
@media screen and (max-width: 1250px) {
  .header {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 900px) {
  .header__nav {
    display: flex;
    flex-direction: column;
  }
  .header__btn {
    padding-top: 15px;
    margin: 0 auto;
  }
  .header__nabla {
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .header__between {
    margin: 0 auto;
  }
}
/* header */

.content {
  width: calc(100% - 120px);
  height: 550px;
  margin: 0 auto;
  max-width: 1110px;
  background-color: #c7e3e9;
}
.intro {
  margin-bottom: 120px;
}

/* block-obj */
.block-obj {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  width: calc(100% - 120px);
}
.block-obj__img {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 70px 0px;
  background-color: #fef1ef;
}
.block-obj__text {
  padding-left: 80px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 32px;
}
.img--modif {
  border-radius: 37px;
}
.block-obj__h1 {
  font-family: "Abril Fatface" cursive;
  color: #040062;
  font-size: 48px;
  padding-right: 40px;
}
.block-obj__p {
  line-height: 1.5;
  color: #6d758d;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}

/* block-obj */
/* block-reverse */
.block-reverse {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1110px;
  margin: 0 auto;
  width: calc(100% - 120px);
}
.block-reverse__img {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 70px 0px;
  background-color: #c7e3e9;
}
.block-reverse__text {
  padding-right: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 32px;
}
.block-obj__h1--modif {
  padding-left: 40px;
  font-family: "Abril Fatface" cursive;
  color: #040062;
  font-size: 48px;
  padding-right: 40px;
}
.block-obj__p--modif {
  line-height: 1.5;
  color: #6d758d;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  padding-left: 40px;
}
/* block-reverse */
/* media block */
@media screen and (max-width: 900px) {
  .block-obj__h1,
  .block-obj__h1--modif {
    font-size: 40px;
  }
  .block-obj__p,
  .block-obj__p--modif {
    line-height: 1.3;
    color: #6d758d;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }
  .block-obj__text,
  .block-reverse__text {
    gap: 20px;
  }
  .block-obj__img,
  .block-reverse__img {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 820px) {
  .block-obj__h1,
  .block-obj__h1--modif {
    font-size: 28px;
  }
  .block-obj__p,
  .block-obj__p--modif {
    line-height: 1.2;
    color: #6d758d;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }
  .block-obj__text,
  .block-reverse__text {
    gap: 20px;
  }
  .block-obj__img,
  .block-reverse__img {
    padding: 50px 0px;
  }
}
@media screen and (max-width: 720px) {
  .block-obj {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    width: calc(100% - 40px);
  }
  .block-obj__img,
  .block-reverse__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
  }
  .block-obj__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 24px;
  }
  .block-obj__h1 {
    font-size: 36px;
  }
  .block-obj__p {
    line-height: 1.4;
    color: #6d758d;
    font-size: 14px; 
  }

  .block-reverse {
    display: flex; 
    flex-direction: column-reverse;
    gap: 60px;  
    width: calc(100% - 40px);
  }
  .block-reverse__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 24px;
    padding-right: 20px;
    padding-top: 60px;
   
  }
  .block-obj__h1--modif {  
    font-size: 36px; 
    padding-left: 75px;
  }
    .block-obj__p--modif {
    line-height: 1.4; 
    font-size: 14px; 
    padding-left: 75px;
  }
}
